Source: japi
Section: utils
Priority: optional
Maintainer: Paul Buetow <paul@buetow.org>
Build-Depends: 
Standards-Version: 3.9.2
Homepage: https://japi.buetow.org
Vcs-Git: https://github.com/rantanplan/japi.git
Vcs-Browser: https://github.com/rantanplan/japi

Package: japi
Architecture: all
Depends: libmoo-perl, libconfigreader-simple-perl
Description: Command line tool for Jira
 This is a small tool to list open issues in JIRA via the REST API
